@font-face {
  font-family: 'HXBFont';
  src: url('/fonts/HXBFont.otf') format('opentype');
  font-display: swap;
  /* font-size: 20px; */
}

/* #nav .site-page {
  font-size: 18px;
}

body {
  font-size: 18px;
} */